Video_Explanation/36230035_JosiaGivenSantoso_PenjelasanWEKA.mp4
Video_Explanation/36230035_JosiaGivenSantoso_PenjelasanWEKA.mp4
Video_Explanation/36230035_JosiaGivenSantoso_PenjelasanWEKA.mp4
Video_Explanation/36230035_JosiaGivenSantoso_PenjelasanWEKA.mp4
Video_Explanation/36230035_JosiaGivenSantoso_PenjelasanWEKA.mp4
Video_Explanation/36230035_JosiaGivenSantoso_PenjelasanWEKA.mp4
# Ignore dataset folders
Datasets/
