# Ignore dataset folders
Datasets/

# Ignore video explanation (file besar, tidak perlu di-push ke GitHub)
Video_Explanation/

# (Opsional) Ignore temporary files, notebook checkpoints, dll.
*.ipynb_checkpoints
__pycache__/
*.pyc
